<% if users.any? %>

  <ul class="list-unstyled">
  
    <% users.each do |user| %>
      
      <li>
        <p><%= user.name %></p>
        <p><%= link_to 'View tasks', user_path(user) %></p>
      </li>
      
    <% end %>
  
  </ul>

  <%= paginate users %>
  
<% end %>